.o_organic
	overflow hidden
	height 100%
	background url(http://qiniu.yunyangbao.cn/searchBack.png) no-repeat center
	background-size cover
	color #01ffff
	.head
		padding-top 20px
		text-align center
		.o_logo
			display inline
			.logo_info
				vertical-align middle
				height 60px
		.o_title
			display inline
			line-height 20px
			color #01ffff
			font-size 1.675em
			font-weight bold
		.o_bottom
			position relative
			top -40px
	.organic_body
		color #00c5dd
		font-size 15px
		width 100%
		margin-top -30px
		.o_left
			width 59%
			float left
			.area_info
				font-size 15px
				span
					padding-left 3.4%
				.el-select
					width 16%
					.el-input .el-select__caret
						color #01ffff
				.el-input__inner
					height 26px
					background-color #002e72
					border 1px solid #01ffff
					border-radius 0px
					color #6d9dfb
				.el-autocomplete
					width 16%
				span
					vertical-align middle
				.area_select
					display inline-block
			.o_check
				font-size 14px
				margin-top 20px
				margin-left 20px
				.el-checkbox+.el-checkbox
					margin-left 15px
				.el-checkbox
					color #9cdbe1
				.el-checkbox__inner
					background-color rgba(0,0,0,0)
				.el-checkbox__label
					font-size 12px
				.o_farm
					padding-left 10px
					width 13%
					height 60px
					float left
					text-align center
					background url(../../assets/imgs/farm.png) no-repeat center
					background-size 100% 50px
					.f_top
						position relative
						top -10px
						p
							line-height 6px
				.o_slaughter
					width 23%
					height 60px
					float left
					margin-left 10px
					text-align center
					background url(../../assets/imgs/slaughter.png) no-repeat center
					background-size 100% 50px
					.s_top
						position relative
						top -10px
						p
							line-height 8px
				.o_customer
					width 38%
					height 60px
					float left
					margin-left 10px
					text-align center
					background url(../../assets/imgs/customer.png) no-repeat center
					background-size 100% 50px
					.c_top
						position relative
						top -7px
						p
							line-height 5px
				.o_search
					img
						padding-left 10px
						padding-top 7px
						width 87px
						cursor pointer
			.o_map
				padding-left 20px
				padding-top 10px
				.o_boxOut
					padding-top 2.5vh
					width 91%
					height calc(90vh - 250px)
					height -moz-calc(90vh - 250px)
					height -webkit-calc(90vh - 250px)
					height calc(90vh - 250px)
					background url(../../assets/imgs/mapBack.png) no-repeat center
					background-size 100% 100%
					.map_detail
						width 94%
						height 96%
						margin 0 auto
			.o_introduce
				width 80px
				height 60px
				background white
				position relative
				top -80px
				left 40px
				color black
				.o_red
					margin-left 4px
					display inline-block
					width 10px
					height 10px
					background red
					border-radius 50%
				.o_blue
					margin-left 4px
					display inline-block
					width 10px
					height 10px
					background green
					border-radius 50%
				.o_yellow
					margin-left 4px
					display inline-block
					width 10px
					height 10px
					background yellow
					border-radius 50%
				span
					font-size 10px
					webkit-transform scale(0.83)
		.o_middle
			img
				float left
				margin-left -35px
				height calc(80vh - 50px)
				height -moz-calc(80vh - 50px)
				height -webkit-calc(80vh - 50px)
				height calc(80vh - 50px)
		.right
			float right
			color #00c5dd
			text-align center
			width 40%
			.o_sune
				float right
				margin-right 3.2vw
				margin-top -25px
				font-size 12px
				.outTable
					table-layout fixed
					border-collapse collapse
					.o_none
						background-color rgba(0,0,0,0)
						border 1px solid rgba(0,0,0,0)
						border-bottom 1px solid #0090d4
					tr
						width 100%
						td, th
							border 1px solid #0090d4
							width 3vw
							height 19px
							// min-width 67.5px
					.o_cline
						background url(../../assets/imgs/tableBack.png) no-repeat center
						background-size 106% 106%
						tr
							th
								border 0px
								height 14px		
			.o_message
				float right
				.o_snDetail
					table-layout fixed
					margin-top 10px
					margin-right 3.2vw
					font-size 12px
					border-collapse collapse
					tr
						.table_head
							color #040d2a
							height 30px
							background-color #2c9aef
							line-height 30px
							font-size 16px
							font-weight bold
						td, th
							background-color #001e85 
							border 1px solid #0090d4
							width 3vw
							height 19px
							// min-width 30px
						.o_font
							font-size 10px
							-webkit-transform scale(0.83)
						.o_noBack
							font-size 10px
							-webkit-transform scale(0.83)
							border 0px
							background-color rgba(0,0,0,0)
							width 6vw
							text-align right
							padding-right 10px
						.o_total
							background-color #eb6100
				
			.o_detail
				font-size 12px
				margin-top 10px
				float right
				width 90%
				margin-right 5%
				height calc(85vh - 350px)
				height -moz-calc(85vh - 350px)
				height -webkit-calc(85vh - 350px)
				height calc(85vh - 350px)
				background url(../../assets/imgs/mapBack.png) no-repeat center
				background-size 100% 100%
				padding-top 4%
				.o_inside
					margin 0 auto
					height 92%
					width 92%
					border 2px solid #021e86
					.containerHead
						float left
						width 60%
						height 56px
						background rgba(255,255,255,0.01)
						// .total_num
						// 	padding-top 5px
						// 	width 100%
						// 	float left
						// 	color #f29512
						// 	//border-bottom 1px dotted #f29512
						// 	text-align left
						// 	font-size 14px
						.chargeTitle
							padding-top 5px
							height 25px
							font-size 12px
							background rgba(44,154,239,0.1)
							.chargeman
								float left
								width 44%
							.chargephone
								float left
								width 50%
						.choseStyleOne,.choseStyleTwo
							float left
							border 0.5px solid #7fcdf4
							width 49.5%
							height 25px
							text-align center
							line-height 25px
							cursor pointer
						.choseStyleOne
							background-color #7fcdf4
							color black
					.o_container
						overflow auto
						float left
						width 60%
						height calc(100%- 56px)
						background rgba(255,255,255,0.01)
						text-align left
						overflow: -moz-hidden-unscrollable;
						-ms-overflow-style: none//IE 10+滚动条
						overflow: -moz-scrollbars-none//firefox
					.o_company::-webkit-scrollbar { display: none }::-webkit-scrollbar { display: none }
					.o_aside
						//overflow-x scroll
						white-space nowrap
						overflow auto
						float left
						width 40%
						height 100%
						background-color #021e86
						text-align left
						.o_company
							cursor pointer
							height 20px
							line-height 20px
							background-color #021e86
							overflow: -moz-hidden-unscrollable;
							-ms-overflow-style: none//IE 10+滚动条
							overflow: -moz-scrollbars-none//firefox
						.o_company:hover
							background-color #00b8ee
							color #00459e
						.o_company::-webkit-scrollbar { display: none }
	.o_foot
		height 40px
		background rgba(0,0,0,0)
		text-align center
		width 100%
		position absolute
		bottom 10px
		font-size 10px
		border-top 1px #01ffff solid
		color #028ca5
		.foot_mess
			margin 0
		    line-height 15px
		    text-align center