color-main = #2891d1
color-green = #6aaf08
color-lightblue = #98c9e6
color-foot = #c9c9c9

//更改placeholder字体颜色
//::-webkit-input-placeholder { /* WebKit, Blink, Edge */
//  color:    #fff;
//}
//:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
//  color:    #fff;
//  opacity:  1;
//}
//::-moz-placeholder { /* Mozilla Firefox 19+ */
//  color:    #fff;
//  opacity:  1;
//}
//:-ms-input-placeholder { /* Internet Explorer 10-11 */
//  color:    #fff;
//}
//::-ms-input-placeholder { /* Microsoft Edge */
//  color:    #fff;
//}
